.calendar {
  position: absolute;
  border: 1px solid gray;
  padding: 10px 10px;
  border-radius: 5px;
  background-color: #ffffff;
  z-index: 1000;
}

.datapicker-calendar {
  padding-top: 10px;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.arrow {
  width: 5px;
  height: 5px;
  border: solid black;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
  cursor: pointer;
}

.up {
  transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
}

.calender-direction {
  width: 25%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.calendar-week {
  display: flex;
}

.calendar-day {
  display: flex;
  width: 100%;
}

.calendar-week .day, svg {
  cursor: pointer;
}

.day, .day-week {
  margin: 3px;
  padding: 3px;
  width: calc(100% / 7);
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.other-month {
  color: #9e9e9e;
}

.show {
  display: block;
}

input {
  font-size: 13px;
  border-radius: 4px;
  box-shadow: inset 0 2px 2px #e9e9e9;
  border: 1px solid #aeaeae;
  line-height: 16px;
  padding: 6px 10px 5px;
}

input:focus {
  outline: none;
  border-color: #aeaeae;
  box-shadow: inset 0 2px 2px #e9e9e9, 0 0 10px 0 rgb(73 107 125 / 30%);
}

.previous-month,
.next-month {
  color: #9e9e9e;
}

.selected {
  background: #00abee;
  color: #ffffff;
  border-radius: 50%;
}


.calendar-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.arrow {
  width: 5px;
  height: 5px;
  border: solid black;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
  cursor: pointer;
}